/* Definicion de Vaariables */
:root {
    --color-primario: #580679;
    --color-secundario: #8e44ad;
    --color-blanco: #ffffff;
    --color-negro: #000000;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-blanco);
    color: var(--color-negro);
    font-size: 16px; /* Tamaño de fuente predeterminado */
}

/* Ordenador */
@media (min-width: 991px){


/* Estilos para los Textos */

    h3 {
        color: var(--color-primario);
        font-family: 'Courier New', Courier, monospace;
        font-size: 1.2em;
        padding: 15px;
        text-align: center;
    }

    h1 {
        color: var(--color-primario);
        font-family: 'Courier New', Courier, monospace;
        font-size: 2em;
        padding: 15px;
        text-align: center;
    }

    h2 {
        color: var(--color-secundario); /* Color morado oscuro para los encabezados */
        margin-bottom: 5px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 1.2em;
    }

    p {
        margin-top: 0;
        margin-bottom: 10px;
        color: var(--color-negro);
    }

    a {
        color: var(--color-negro);
        text-decoration: none
    }

    a:hover {
        color: var(--color-blanco);
        background-color: var(--color-primario);
    }

    a.neon-button {
        font-family: 'Arial', sans-serif;
        font-size: 20px;
        text-decoration: none;

        padding: 10px;

        color: var(--color-blanco);

        border-radius: 25px;

        -webkit-mask-image: -webkit-radial-gradient(circle, var(--color-blanco), var(--color-negro));
        mask-image: radial-gradient(circle, var(--color-blanco), var(--color-negro));


    }


    /* Estilos para la tabla */

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        padding: 10px;
        text-align: left;
    }

    th {
        background-color: #333;
        color: var(--color-blanco);
    }

    tr:nth-child(even) {
        background-color: var(--color-blanco);
    }

    /* Add a hover effect for rows */
    tr:hover {
        background-color: #ff8080;
    }


    /* Estilos para los labels e Inputs */

    label,
    input[type="text"],
    input[type="submit"] {

        display: block;

        margin: auto;

        margin-bottom: 10px;
        color: var(--color-negro);

    }

    /* Estilo para el botón de insertar */

    input[type="submit"] {
        font-family: 'Arial', sans-serif;
        font-size: 18px;
        text-decoration: none;

        padding: 15px 20px;

        color: var(--color-blanco);

        border-radius: 10px;

        border-color: var(--color-primario);

        background-color: #800080;

        transition: background-color 0.3s ease, transform 0.2s ease;

    }

    input[type="submit"]:hover {
        background-color: var(--color-primario);
        transform: scale(1.1);
    }



    /*  Estilos para el contenido    */

    #cabecera {
        display: flex;
        flex-direction: column;
    }

    #logo img {
        width: 100%;
    }

    #menu {
        position: relative;
    }

    #menu ul {
        display: flex;
        justify-content: space-around;
        border-top: 2px solid var(--color-primario);
    }

    #menu li {
        list-style-type: none;
        border-right: 2px solid var(--color-primario);
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
        padding: 15px;
        position: relative;
    }

    #menu li:last-child {
        border: none;
    }

    .submenu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 200px;
        background-color: var(--color-blanco);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    #menu li:hover .submenu {
        display: block;
    }

    /* Estilo para el contenido */

    #wrapper {
        display: flex;
        justify-content: center;
        border-radius: 25px;

        border-style: solid;
        border-color: var(--color-primario);
        overflow: hidden;
    }

    #contenido {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        padding-bottom: 5%;
        padding-top: 5%;
        color: var(--color-blanco);
        opacity: .8;
        margin-top: 3%;
        text-align: center;
        flex: 1;
        padding: 20px;
        margin-right: 20px; /* Añade margen derecho para compensar el lateralDerecho */
        overflow-y: auto;
    }

    #contenidoHermanos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        padding-bottom: 5%;
        padding-top: 5%;
        color: var(--color-blanco);
        opacity: .8;
        margin-top: 3%;
        text-align: center;
        flex: 1;
        padding: 20px;
        margin-right: 20px; /* Añade margen derecho para compensar el lateralDerecho */
        overflow-y: auto;
    }

    #rss-container {
        color: var(--color-blanco);
        border: 1px solid var(--color-primario);
        border-radius: 5px;
        margin-left: 3%;
        font-family: Arial, sans-serif;
        margin-right: 20px; /* Añade margen derecho para compensar el lateralDerecho */
    }

    #rss-container ul {
        list-style-type: none;
        padding: 0;
    }

    #rss-container li {
        margin-bottom: 10px;
    }

    #rss-container li:last-child {
        margin-bottom: 0;
    }


    #paypal-button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
    }


    #lateralDerecho {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start; /* Alinea los elementos al principio del contenedor lateral */
        border-radius: 25px;
        color: var(--color-primario);
        width: 30%;
        border-style: solid;
        border-color: var(--color-primario);
        padding: 10px;
        margin-left: 20px;
        margin-top: 3%;
        margin-bottom: 3%;
        overflow-y: auto;
    }

    .twitter-widget {
        display: flex;
        flex-direction: column;
        align-items: flex-start; /* Alinea los elementos al principio del contenedor lateral */
        width: 100%; /* Utiliza el 100% del ancho del contenedor lateral */
        height: 100%;
        max-width: none; /* Limita el ancho del widget para evitar solapamientos */
        max-height: none; /* Ocupa el 100% de la altura del contenedor lateral */
    }

    .twitter-timeline {
        width: 400px; /* Utiliza el 100% del ancho del contenedor .twitter-widget */
        height: 400px; /* Utiliza el 100% de la altura del contenedor .twitter-widget */
        border: 1px solid #ddd;
    }


    #enlaces{
        color: var(--color-primario);
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
        padding: 15px;
        text-align: center;

    }




    /* Estilo para el footer */

    .pie {
        margin-top: 3%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-top: 2px solid var(--color-primario);
        border-bottom: 2px solid var(--color-primario);
        padding: 15px;
        text-align: center;

    }

    /* Estilo para las secciones del footer */

    .footer-section {
        border-left: 2px solid var(--color-primario);
        border-right: 2px solid var(--color-primario);
        padding: 10px;
        margin: 10px;
        flex: 1;
    }

    /* Estilo para los iconos de redes sociales */

    .social-icons img {
        border-radius: 50%;
    }


    /* Estilos para alerta de éxito */
    .alert-success {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
        padding: 15px;
        margin-bottom: 15px;
        border: 1px solid transparent;
        border-radius: 5px;
    }

    /* Estilos para alerta de error */
    .alert-danger {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
        padding: 15px;
        margin-bottom: 15px;
        border: 1px solid transparent;
        border-radius: 5px;
    }

    /* Estilos generales para alertas */
    .alert {
        font-family: 'Courier New', Courier, monospace;
        font-size: 18px;
        text-align: center;
    }


    /*  CAJON Datos */
    .CajonDatos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 2px solid #8e44ad;
        border-radius: 10px;
        margin: 10px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #ecf0f1;
    }

    .FotoDatos img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 20px;
    }

    .DatosFormulario {
        flex-grow: 1;
    }


    .BotonesDatosFormulario {
        text-align: right;
    }

    .btn {
        padding: 10px 20px;
        margin: 5px;
        text-decoration: none;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn-warning {
        background-color: #f39c12;
        color: #fff;
        border: none;
    }

    .btn-danger {
        background-color: #e74c3c;
        color: #fff;
        border: none;
    }

}

/* Movil */
@media (max-width: 767px) {
    /* Estilos para los Textos */
    h1, h2, h3 {
        font-size: 1.5em; /* Reduzco el tamaño de fuente para dispositivos móviles */
        padding: 10px; /* Reduzco el espacio de relleno */
    }

    /* Otros ajustes de tamaño de fuente o espaciado según sea necesario */

    /* Estilos para la tabla */
    table {
        width: 100%; /* Hago que la tabla ocupe el ancho completo */
        font-size: 14px; /* Reduzco el tamaño de fuente de la tabla */
    }

    th, td {
        padding: 8px; /* Reduzco el espacio de relleno de las celdas de la tabla */
    }

    /* Otros ajustes de tamaño de fuente o espaciado según sea necesario */

    /* Estilos para los labels e Inputs */
    label, input[type="text"], input[type="submit"] {
        margin-bottom: 8px; /* Reduzco el espacio entre elementos */
    }

    /* Estilos para el botón de insertar */
    input[type="submit"] {
        font-size: 16px; /* Reduzco el tamaño de fuente */
        padding: 12px 16px; /* Ajusto el relleno del botón */
    }

    /* Otros ajustes de tamaño de fuente o espaciado según sea necesario */

    /* Estilos para el contenido */
    #wrapper {
        flex-direction: column; /* Cambio la dirección del contenedor principal a columna */
    }

    #contenido, #lateralDerecho {
        width: 100%; /* Hago que ambos ocupen el ancho completo */
        margin-left: 0; /* Elimino el margen izquierdo en el lateral derecho */
    }

    /* Otros ajustes según sea necesario para dispositivos móviles */

    /* Estilo para el footer */
    .pie {
        flex-direction: column; /* Cambio la dirección a columna para los elementos del pie */
    }

    /* Otros ajustes según sea necesario para dispositivos móviles */

    /* Estilos para el cajón de datos */
    .CajonDatos {
        flex-direction: column; /* Cambio la dirección a columna para los elementos del cajón de datos */
    }

    /* Otros ajustes según sea necesario para dispositivos móviles */

    /* Estilos para alertas */
    .alert {
        font-size: 16px; /* Reduzco el tamaño de fuente para alertas en dispositivos móviles */
    }

    /* Otros ajustes según sea necesario para dispositivos móviles */

    /* Estilos para los botones del formulario */
    .btn {
        font-size: 14px; /* Reduzco el tamaño de fuente para botones en dispositivos móviles */
        padding: 8px 12px; /* Ajusto el relleno de los botones */
    }

    /* Otros ajustes según sea necesario para dispositivos móviles */
}


/* Tablet */
@media (min-width: 768px) and (max-width: 990px) {
    /* Estilos para los Textos */
    h1, h2, h3 {
        font-size: 1.8em; /* Ajuste el tamaño de fuente para tablet */
    }

    /* Otros ajustes según sea necesario para tablet */

    /* Estilos para la tabla */
    table {
        font-size: 16px; /* Ajuste el tamaño de fuente para tablet */
    }

    /* Otros ajustes según sea necesario para tablet */

    /* Estilos para los labels e Inputs */
    label, input[type="text"], input[type="submit"] {
        margin-bottom: 10px; /* Ajuste el espacio entre elementos para tablet */
    }

    /* Estilos para el botón de insertar */
    input[type="submit"] {
        font-size: 18px; /* Ajuste el tamaño de fuente para tablet */
        padding: 15px 20px; /* Ajuste el relleno del botón para tablet */
    }

    /* Otros ajustes según sea necesario para tablet */

    /* Estilos para el contenido */
    #wrapper {
        flex-direction: column; /* Cambio la dirección a columna para tablet */
    }

    #contenido, #lateralDerecho {
        width: 100%; /* Hago que ambos ocupen el ancho completo para tablet */
        margin-left: 0; /* Elimino el margen izquierdo en el lateral derecho para tablet */
    }

    .twitter-widget {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .twitter-timeline {
        width: 100%; /* Haz que la anchura sea del 100% del contenedor */
        max-height: 400px; /* Establece una altura máxima para agregar desplazamiento vertical si es necesario */
        overflow-y: auto; /* Agrega desplazamiento vertical si el contenido es más alto que la altura máxima */
        border: 1px solid #ddd; /* Añade un borde para separar visualmente el widget de Twitter del resto del contenido */
    }

    /* Otros ajustes según sea necesario para tablet */

    /* Estilo para el footer */
    .pie {
        flex-direction: column; /* Cambio la dirección a columna para los elementos del pie para tablet */
    }

    /* Otros ajustes según sea necesario para tablet */

    /* Estilos para el cajón de datos */
    .CajonDatos {
        flex-direction: column; /* Cambio la dirección a columna para los elementos del cajón de datos para tablet */
    }

    /* Otros ajustes según sea necesario para tablet */

    /* Estilos para alertas */
    .alert {
        font-size: 16px; /* Ajuste el tamaño de fuente para alertas en tablet */
    }

    /* Otros ajustes según sea necesario para tablet */

    /* Estilos para los botones del formulario */
    .btn {
        font-size: 16px; /* Ajuste el tamaño de fuente para botones en tablet */
        padding: 12px 16px; /* Ajuste el relleno de los botones para tablet */
    }

    /* Otros ajustes según sea necesario para tablet */
}

