/* Definicion de Vaariables */
:root {
    --color-primario: #800c1c;
    --color-secundario: #e73c37;
    --color-blanco: #ffffff;
    --color-negro: #000000;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-blanco);
    color: var(--color-negro);
    font-size: 16px; /* Tamaño de fuente predeterminado */
}

/*  Estilos para los textos    */

/* Estilos para los Textos */

h3 {
    color: var(--color-primario);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    padding: 15px;
    text-align: center;
}

h1 {
    color: var(--color-primario);
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    padding: 15px;
    text-align: center;
}

h2 {
    color: var(--color-secundario); /* Color morado oscuro para los encabezados */
    margin-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--color-negro);
}

a {
    color: var(--color-negro);
    text-decoration: none
}

a:hover {
    color: var(--color-blanco);
    background-color: var(--color-primario);
}

a.neon-button {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    text-decoration: none;

    padding: 10px;

    color: var(--color-secundario);

    border-radius: 25px;

    -webkit-mask-image: -webkit-radial-gradient(circle, var(--color-blanco), var(--color-negro));
    mask-image: radial-gradient(circle, var(--color-blanco), var(--color-negro));


}

label,
input[type="text"],
input[type="submit"] {
    color: var(--color-negro);
}

input[type="submit"] {
    color: var(--color-blanco);
}


/* Estilos para el elemento select */
select {
    appearance: none; /* Elimina los estilos predeterminados del sistema */
    background-color: var(--color-blanco); /* Fondo blanco */
    border: 2px solid var(--color-primario); /* Borde sólido con color primario */
    color: var(--color-negro); /* Texto negro */
    font-family: 'Courier New', Courier, monospace; /* Fuente monoespaciada */
    font-size: 1em; /* Tamaño de fuente */
    padding: 10px; /* Espaciado interno */
    width: 100%; /* Ancho completo */
    margin-bottom: 10px; /* Margen inferior */
}

/* Estilos para el elemento option dentro del select */
select option {
    background-color: var(--color-blanco); /* Fondo blanco */
    color: var(--color-negro); /* Texto negro */
}

/* Estilos para el hover del elemento option */
select option:hover {
    background-color: var(--color-primario); /* Fondo con color primario al pasar el mouse */
    color: var(--color-blanco); /* Texto blanco al pasar el mouse */
}

/* Ordenador */
@media (min-width: 991px){

    /* Estilos para la tabla */

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        padding: 10px;
        text-align: left;
    }

    th {
        background-color: #333;
        color: var(--color-blanco);
    }

    tr:nth-child(even) {
        background-color: var(--color-blanco);
    }


    tr:hover {
        background-color: #ff8080;
    }


    /* Estilos para los labels e Inputs */

    label,
    input[type="text"],
    input[type="submit"] {

        display: block;

        margin: auto;

        margin-bottom: 10px;
        color: var(--color-negro);

    }

    /* Estilo para el botón de insertar */

    input[type="submit"] {
        font-family: 'Arial', sans-serif;
        font-size: 18px;
        text-decoration: none;

        padding: 15px 20px;

        color: var(--color-blanco);

        border-radius: 10px;

        border-color: var(--color-primario);

        background-color: var(--color-primario);

        transition: background-color 0.3s ease, transform 0.2s ease;

    }

    input[type="submit"]:hover {
        background-color: var(--color-primario);
        transform: scale(1.1);
    }

    /* Estilo para el input de tipo file */
    .custom-file-input {
        color: var(--color-negro);
        background-color: var(--color-blanco);
        border: 2px solid var(--color-primario);
        border-radius: 5px;
        padding: 10px;
        width: 200px; /* Ajusta el ancho según tu diseño */
        font-size: 16px; /* Ajusta el tamaño de fuente según tu diseño */
        cursor: pointer; /* Cambia el cursor al pasar sobre el input */
    }

    /* Estilo para el botón */
    .custom-button {
        background-color: var(--color-primario);
        color: var(--color-blanco);
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px; /* Ajusta el tamaño de fuente según tu diseño */
        cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    }

    /* Estilo para el botón al pasar el mouse */
    .custom-button:hover {
        background-color: var(--color-secundario); /* Cambia el color al pasar el mouse */
    }

    /*  Estilos para el contenido    */

    #cabecera {
        display: flex;
        flex-direction: column;
    }

    #logo img {
        width: 100%;
    }

    #menu {
        position: relative;
    }

    #menu ul {
        display: flex;
        justify-content: space-around;
        border-top: 2px solid var(--color-primario);
    }

    #menu li {
        list-style-type: none;
        border-right: 2px solid var(--color-primario);
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
        padding: 15px;
        position: relative;
    }

    #menu li:last-child {
        border: none;
    }

    .submenu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 200px;
        background-color: var(--color-blanco);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    #menu li:hover .submenu {
        display: block;
    }

    /* Estilo para el contenido */

    #wrapper {
        display: flex;
        justify-content: center;
        border-radius: 25px;

        border-style: solid;
        border-color: var(--color-primario);
        overflow: hidden;
    }

    #contenido {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        padding-bottom: 5%;
        padding-top: 5%;
        color: var(--color-blanco);
        opacity: .8;
        margin-top: 3%;
        text-align: center;
        flex: 1;
        padding: 20px;
        margin-right: 20px; /* Añade margen derecho para compensar el lateralDerecho */
        overflow-y: auto;
    }

    #contenidoHermanos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        padding-bottom: 5%;
        padding-top: 5%;
        color: var(--color-blanco);
        opacity: .8;
        margin-top: 3%;
        text-align: center;
        flex: 1;
        padding: 20px;
        margin-right: 20px; /* Añade margen derecho para compensar el lateralDerecho */
        overflow-y: auto;
    }

    #rss-container {
        color: var(--color-blanco);
        border: 1px solid var(--color-primario);
        border-radius: 5px;
        margin-left: 3%;
        font-family: Arial, sans-serif;
        margin-right: 20px; /* Añade margen derecho para compensar el lateralDerecho */
    }

    #rss-container ul {
        list-style-type: none;
        padding: 0;
    }

    #rss-container li {
        margin-bottom: 10px;
    }

    #rss-container li:last-child {
        margin-bottom: 0;
    }


    #paypal-button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
    }


    #lateralDerecho {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start; /* Alinea los elementos al principio del contenedor lateral */
        border-radius: 25px;
        color: var(--color-primario);
        width: 30%;
        border-style: solid;
        border-color: var(--color-primario);
        padding: 10px;
        margin-left: 20px;
        margin-top: 3%;
        margin-bottom: 3%;
        overflow-y: auto;
    }

    .twitter-widget {
        display: flex;
        flex-direction: column;
        align-items: flex-start; /* Alinea los elementos al principio del contenedor lateral */
        width: 100%; /* Utiliza el 100% del ancho del contenedor lateral */
        height: 100%;
        max-width: none; /* Limita el ancho del widget para evitar solapamientos */
        max-height: none; /* Ocupa el 100% de la altura del contenedor lateral */
    }

    .twitter-timeline {
        width: 400px; /* Utiliza el 100% del ancho del contenedor .twitter-widget */
        height: 400px; /* Utiliza el 100% de la altura del contenedor .twitter-widget */
        border: 1px solid #ddd;
    }


    #enlaces{
        color: var(--color-primario);
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
        padding: 15px;
        text-align: center;

    }


    /* Estilo para el footer */

    .pie {
        margin-top: 3%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-top: 2px solid var(--color-primario);
        border-bottom: 2px solid var(--color-primario);
        padding: 15px;
        text-align: center;

    }

    /* Estilo para las secciones del footer */

    .footer-section {
        border-left: 2px solid var(--color-primario);
        border-right: 2px solid var(--color-primario);
        padding: 10px;
        margin: 10px;
        flex: 1;
    }

    /* Estilo para los iconos de redes sociales */

    .social-icons img {
        border-radius: 50%;
    }


    /* Estilos para alerta de éxito */
    .alert-success {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
        padding: 15px;
        margin-bottom: 15px;
        border: 1px solid transparent;
        border-radius: 5px;
    }

    /* Estilos para alerta de error */
    .alert-danger {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
        padding: 15px;
        margin-bottom: 15px;
        border: 1px solid transparent;
        border-radius: 5px;
    }

    /* Estilos generales para alertas */
    .alert {
        font-family: 'Courier New', Courier, monospace;
        font-size: 18px;
        text-align: center;
    }


    /*  CAJON Datos */
    .CajonDatos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 2px solid var(--color-secundario);
        border-radius: 10px;
        margin: 10px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #ecf0f1;
    }

    .FotoDatos img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 20px;
    }

    .DatosFormulario {
        flex-grow: 1;
    }


    .BotonesDatosFormulario {
        text-align: right;
    }

    .btn {
        padding: 10px 20px;
        margin: 5px;
        text-decoration: none;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn-warning {
        background-color: #f39c12;
        color: #fff;
        border: none;
    }

    .btn-danger {
        background-color: #e74c3c;
        color: #fff;
        border: none;
    }

    /* Clase para ocultar un elemento */
    .hidden {
        display: none;
    }

    /* Clase para mostrar un elemento */
    .visible {
        display: block;
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
        padding: 15px;
        text-align: center;
        color: #e74c3c;
    }

    /* PAGINACION  */

    /* Estilos de la paginación */
    .pagination-container {
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }

    .pagination {
        display: flex;
        list-style: none;
        padding: 0;
    }

    .pagination li {
        margin: 0 5px;
    }

    .pagination a, .pagination span {
        display: block;
        padding: 10px 15px;
        text-decoration: none;
        color: var(--color-blanco);
        background-color: var(--color-primario);
        border: 1px solid var(--color-primario);
        border-radius: 5px;
        transition: background-color 0.3s, color 0.3s;
    }

    .pagination a:hover, .pagination a:focus {
        background-color: var(--color-secundario);
        color: var(--color-blanco);
    }

    .pagination .active span {
        background-color: var(--color-secundario);
        color: var(--color-blanco);
        border-color: var(--color-secundario);
    }

    .pagination .disabled span {
        background-color: var(--color-negro);
        color: var(--color-blanco);
        border-color: var(--color-negro);
        cursor: not-allowed;
    }


    /*  Estilos para el grid container  */

    .container-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual tamaño */
        grid-gap: 20px; /* Espacio entre las imágenes */
    }

    .grid-item {
        text-align: center; /* Centra el contenido */
    }

    .grid-item img {
        width: 100%; /* La imagen ocupará todo el ancho del contenedor */
        height: auto; /* Altura automática para mantener la proporción */
    }

    .grid-item p {
        margin-top: 10px; /* Espacio entre la imagen y el texto */
    }


    .linea-divisoria {
        border: 0;
        height: 3px;
        background: var(--color-primario); /* Color de la guía de estilos */
        margin-top: 20px;
        margin-bottom: 20px;
    }

}

@media (max-width: 990px) {

    /* Estilo para las fuentes */
    h3 {
        font-size: 1em;
        padding: 1em;
    }

    h1 {
        font-size: 1.5em;
        padding: 1em;
    }

    h2 {
        font-size: 1em;
    }

    a.neon-button {
        font-size: 1em;
        padding: 0.5em;
        border-radius: 0.5em;
    }

    label,
    input[type="text"],
    input[type="submit"] {
        width: 100%; /* Ocupa todo el ancho disponible */
        margin-left: 0; /* Elimina el margen izquierdo */
        margin-right: 0; /* Elimina el margen derecho */
        color: var(--color-negro);
    }

    input[type="submit"] {
        margin-top: 10px; /* Agrega espacio entre los elementos */
        color: var(--color-blanco);
        font-family: 'Arial', sans-serif;
        font-size: 18px;
        text-decoration: none;
        padding: 15px 20px;
        border-radius: 10px;
        border-color: var(--color-primario);
        background-color: var(--color-primario);
        transition: background-color 0.3s ease, transform 0.2s ease;
    }

    input[type="submit"]:hover {
        background-color: var(--color-primario);
        transform: scale(1.1);
    }


    /* Estilos para la cabecera */
    #logo img {
        max-width: 100%;
        height: auto;
    }


    #menu ul {
        flex-direction: column;
        border-top: none;
    }

    #menu li {
        border-right: none;
        border-bottom: 2px solid var(--color-primario);
        padding: 15px;
        text-align: center;
    }

    #menu li:last-child {
        border-bottom: none;
    }

    #menu li {
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
        color: var(--color-primario);
    }

    .submenu {
        background-color: var(--color-blanco);
    }


    #menu li:hover {
        background-color: var(--color-secundario);
        color: var(--color-blanco);
    }


    #menu li + li {
        margin-top: 2px;
    }

    /* Estilos para la tabla */


    th,
    td {
        padding: 0.5em;
        text-align: center;
    }

    th {
        background-color: #333;
        color: var(--color-blanco);
    }

    tr:nth-child(even) {
        background-color: var(--color-blanco);
    }

    /* Add a hover effect for rows */
    tr:hover {
        background-color: #ff8080;
    }

    /* Estilos para el contenido */

    #wrapper {
        display: block;
        overflow: hidden;
    }



    /* Estilos para el div de contenido */
    #contenido {
        display: flex;
        color: var(--color-blanco);
        flex-wrap: wrap; /* Permite que el contenido se apile en columnas */
        justify-content: center; /* Centra el contenido horizontalmente */
        align-items: flex-start; /* Alinea el contenido en la parte superior */
        width: 100%; /* Ocupa todo el ancho disponible */
        padding: 20px; /* Añade espacio interno al contenido */

    }


    #contenidoHermanos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%; /* Ajuste del ancho al 100% para ocupar todo el espacio disponible */
        padding: 20px; /* Ajuste del relleno */
        color: var(--color-blanco);
        opacity: 0.8;
        margin-top: 3%;
        text-align: center;
        overflow-y: auto;
    }

    #rss-container {
        color: var(--color-blanco);
        /*border: 1px solid var(--color-primario);*/
        margin: 0;
        font-family: Arial, sans-serif;
        width: 100%;
    }

    #rss-container img {
        max-width: 100%; /* Ajusta el tamaño máximo de las imágenes */
        height: auto; /* Mantiene la proporción de la imagen */
    }



    #rss-container ul {
        list-style-type: none;
        padding: 0;
    }

    #rss-container li {
        margin-bottom: 10px;
    }

    #rss-container li:last-child {
        margin-bottom: 0;
    }

     /* Estilos para #paypal-button-container en dispositivos móviles */
     #paypal-button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
    }

    /* Estilos para lateralDerecho */
    #lateralDerecho {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        /*border-radius: 25px;*/
        color: var(--color-primario);
        width: 100%; /* Ajuste del ancho al 100% para ocupar todo el espacio disponible */
       /* border-style: solid;*/
       /* border-color: var(--color-primario);*/
        padding: 10px;
        margin: 20px 0; /* Ajuste del margen */
        overflow-y: auto;
    }


    .twitter-widget {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        max-width: none;
        max-height: none;
    }

    .twitter-timeline {
        width: 100%;
        height: auto;
        border: 1px solid #ddd;
    }

    /* Estilos para enlaces  */
    #enlaces {
        color: var(--color-primario);
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
        padding: 15px;
        text-align: center;
    }

    /* Estilos para el footer */
    .pie {
        margin-top: 3%;
        display: flex;
        flex-direction: column; /* Cambio a disposición vertical */
        justify-content: center;
        align-items: center;
        border-top: 2px solid var(--color-primario);
        border-bottom: 2px solid var(--color-primario);
        padding: 15px;
        text-align: center;
    }


    /* Estilos para las secciones del footer */
    .footer-section {
        border: bottom 2px var(--color-primario);
        border-top: 2px var(--color-primario);
        padding: 10px;
        margin: 10px 0; /* Ajuste del margen vertical */
        flex: none; /* Eliminación del crecimiento flexible */
    }

    /* Estilos para los iconos de redes sociales */
    .social-icons img {
        border-radius: 50%;
        margin: 5px; /* Ajuste del margen entre iconos */
    }
    /* Estilos para alerta */
    .alert-success {
        font-family: 'Courier New', Courier, monospace;
        font-size: 18px;
        text-align: center;
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
        padding: 15px;
        margin-bottom: 15px;
        border: 1px solid transparent;
        border-radius: 5px;
    }


    .alert-danger {
        font-family: 'Courier New', Courier, monospace;
        font-size: 18px;
        text-align: center;
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
        padding: 15px;
        margin-bottom: 15px;
        border: 1px solid transparent;
        border-radius: 5px;
    }

    .alert {
        font-family: 'Courier New', Courier, monospace;
        font-size: 18px;
        text-align: center;
    }

    .CajonDatos {
        display: flex;
        flex-direction: column; /* Cambia la disposición a columna */
        align-items: center; /* Centra los elementos en el eje horizontal */
        border: 2px solid var(--color-secundario);
        border-radius: 10px;
        margin: 10px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #ecf0f1;
    }

    /* Estilos para el contenido dentro del CajonDatos */
    .CajonDatos > * {
        width: calc(100% - 40px); /* Ocupa todo el ancho disponible menos los márgenes */
        margin-bottom: 10px; /* Agrega espacio entre cada elemento */
    }

    /* Ajuste específico para formularios dentro de CajonDatos */
    .CajonDatos form {
        width: 100%; /* Asegura que el formulario ocupe todo el ancho disponible */
    }



    .FotoDatos img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 0; /* Elimina el margen derecho */
        margin-bottom: 10px; /* Añade margen inferior para separar la imagen del contenido */
    }

    .DatosFormulario {
        margin-bottom: 10px; /* Añade margen inferior para separar del botón */
    }

    /* Estilos para los botones de formulario en dispositivos móviles */
    .BotonesDatosFormulario {
        text-align: center; /* Centra los botones */
    }

    .btn {
        display: block; /* Muestra los botones como bloques para ocupar todo el ancho */
        margin: 5px auto; /* Centra los botones horizontalmente */
    }

    /* Estilos para la paginación en dispositivos móviles */
    .pagination-container .pagination {
        display: flex;
        justify-content: center; /* Centra los enlaces de paginación */
        flex-wrap: wrap; /* Permite que los enlaces se envuelvan en varias líneas si es necesario */
    }

    .pagination-container .pagination li {
        margin: 5px; /* Añade espacio entre los enlaces de paginación */
    }

    .pagination-container .pagination li a {
        padding: 6px 10px; /* Reduce el relleno horizontal de los enlaces */
        font-size: 14px; /* Reduce el tamaño de la fuente para adaptarse mejor a dispositivos móviles */
    }

    /* Estilos para el grid container en dispositivos móviles */
    .container-grid {
        grid-template-columns: repeat(1, 1fr); /* Cambia a una sola columna */
    }

    .grid-item {
        margin-bottom: 20px; /* Añade espacio entre los elementos del grid */
    }

}
